<div id="footer">
    <ul id="menu">
        <li><a href="@Href("~/")">Home</a></li>
        <li><a href="@Href("~/About")">About</a></li>
        <li class="last"><a href="@Href("~/Events")">Events</a></li>
    </ul>
</div>
