 <header class="header-skin">
    <h1>Beyond Doubt Ministries</h1>
    <div class="mobile-nav">
        <div class="menu-button"><a href="#">Menu</a></div>
        @RenderPage("~/_mainNav.cshtml")
    </div>
</header>
