@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "About";
}
<link href="@Href("~/Styles/about.css")" rel="stylesheet" />
<p>
  Steve has been involved with different church ministries and received the call of God to preach in 1996. 
  In 2002 Steve served as the senior pastor of the Clearcreek Community in Circleville, Ohio and community Spiritual Directory for the Southern Ohio Emmaus Community in 2005.  
  Steve graduated from the Ohio Christian University in 2005. Steve also served as Associate Pastor and Minister of Music of the First Church of God Community Worship Center in Circleville, Ohio.   
  Steve is now fulfilling the call of God in his life and serves as an Evangelist of Beyond Doubt Ministries.  
  Steve lives with his wife Pam of 29 years, has 2 grown children and 2 grandchildren and currently resides in Stoutsville, Ohio.
</p>