@{  
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home";
}
<link href="@Href("~/Styles/home.css")" rel="stylesheet" />
<p>
    Beyond Doubt ministries is about helping people understand what it means to be a Christian.  
    Help people to go beyond just showing up for church but about being the church.  
    Help people to walk by faith and stop doubting the promises of God for them in their lives.    
    To help people to be what God has called them to be and use their giftedness that God has given to them.  
    To help people have enough evidence in their lives and to go beyond the shadow of doubt that they are a disciple of Christ.
</p>
<div class="audio-player">
    <audio controls>
        <source src="@Href("~/audio/XSermon001.ogg")" type="audio/ogg">
        <source src="@Href("~/audio/XSermon001.mp3")" type="audio/mp3">
    </audio> 
    <ul class="tracks">
        <li><a href="audio/XSermon001"></a></li>
        <li><a href="audio/XSermon002"></a></li>
        <li><a href="audio/XSermon003"></a></li>
    </ul>
</div>
